@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Lato", sans-serif;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);
}

body {
  --black: #000000;
  --ash: #808080;
  --sky: #00ccff;
  --green: #22dddd;
  --blue: #1300ff;
  --dusk: #6600ff;
  --purple: #9900ff;
  --pink: #ff0066;
  --red: #fe0222;
  --orange: #fd7702;
  --yellow: #ffbb00;

  --background: #ECF2FA;
  --accent: #222764; 
  --prime:#FCB630;
  --white: #ffffff;
  
 

  margin: 0;
  padding: 0;
  background-color: bg-primary;
  color: var(--accent);
}

